
</div>
</div>


<script>
   function apply_jobs(job_id,comp_id)
    {
        $("#hid").val(job_id);
        $("#comp_id").val(comp_id);
       $("#apply_job").modal('show');    
   
    }
    function upload_resume(job_id,comp_id)
    {  
       $("#hid").val(job_id);
        $("#comp_id").val(comp_id);
       $("#upload_resume").modal('show');    
    }
</script>
</body>
</html>
